<form id="export-translation-form">

    <p>{{localize "BABELE.ExportTranslationNotes"}}</p>

    <div class="form-group">
        <label>{{localize "BABELE.ExportTranslationFormat"}}</label>
        <div class="form-fields" style="justify-content: flex-end">
            <label class="checkbox">
                <input type="radio" name="format" value="legacy" checked="">
                {{localize "BABELE.ExportTranslationFormatLegacy"}}
            </label>
            <label class="checkbox">
                <input type="radio" name="format" value="compatible">
                {{localize "BABELE.ExportTranslationFormatCompatible"}}
            </label>
        </div>
    </div>

</form>